<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75523934173-2m67pr6ophc8bohe1secbvaa6edg90nq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75523934173-2m67pr6ophc8bohe1secbvaa6edg90nq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>75523934173-1dga8vljpia2se0occ614h3hmmr4fvrc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCybcRu3W2T8f8aC0gvd-Z6TxAWMHlVBxI</string>
	<key>GCM_SENDER_ID</key>
	<string>75523934173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.uff.sample</string>
	<key>PROJECT_ID</key>
	<string>sampletest-4273e</string>
	<key>STORAGE_BUCKET</key>
	<string>sampletest-4273e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75523934173:ios:f0bf27007e97c5cc869834</string>
</dict>
</plist>